            body {
                margin:30px;
				background: #f3f3f9;
background: -moz-linear-gradient(left, #f3f3f9 0%, rgba(6,56,79,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #f3f3f9), color-stop(100%, rgba(6,56,79,1)));
background: -webkit-linear-gradient(left, #f3f3f9 0%, rgba(6,56,79,1) 100%);
background: -o-linear-gradient(left, #f3f3f9 0%, rgba(6,56,79,1) 100%);
background: -ms-linear-gradient(left, #f3f3f9 0%, rgba(6,56,79,1) 100%);
background: linear-gradient(to right, #f3f3f9 0%, rgba(6,56,79,1) 100%);
            }
            .iconos {
                text-align: center;
                margin-top: 40px;
            }
            
            .iconos p {
				color: #29293a;
                font-family: Roboto, sans-serif;
                font-size: 20px;
            }

            #iconos1 {
                text-align: center;
				color: #29293a;
                font-size: 15px;
                margin:0 2px;
                width: 20px;
                height: 20px;
                border: solid 1px #fff;
                padding: 8px 5px 2px 5px;
                border-radius: 20px;

            }

            #iconos1:hover {
                opacity: 0.5;
            }
            

            #crp_player {
                display: none;
            }
            #crp_container {
                position: relative;
                width: 380px;
                height: 68px;
                border: 4px solid #BCBEC0;
                border-radius: 44px;
                box-sizing: border-box;
				background-image: url("/theme/images/bg.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin:auto;
            }
            #crp_live {
                float: left;
                width: 55px;
                height: 40px;
                margin: 10px 0px 0px 40px;
                box-sizing: border-box;
				background-image: url("/theme/images/ico_live.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            #crp_btn_playpause {
                position: absolute;
                left: calc(50% - 44px);
                top: calc(50% - 44px);
                width: 88px;
                height: 88px;
                padding: 14px;
                background: #ffffff;
                border-radius: 44px;
                box-shadow: 0px 0px 10px #000000;
                cursor: pointer;
                box-sizing: border-box;
            }
            #crp_playpause {
                float: left;
                width: 60px;
                height: 60px;
				background-image: url("/theme/images/btn_playpause.png");
                background-position: 0px 0px;
                background-repeat: no-repeat;
                background-size: 60px 120px;
                box-sizing: border-box;
            }
            .status_pause {
                background-position: 0px -60px !important;
            }
            #crp_btn_sound {
                float: right;
                width: 48px;
                height: 48px;
                margin: 6px 40px 0px 0px;
				background-image: url("/theme/images/btn_sound.png");
                background-position: 0px 0px;
                background-repeat: no-repeat;
                background-size: 48px 96px;
                box-sizing: border-box;
                cursor: pointer;
            }
            .status_mute {
                background-position: 0px -48px !important;
            }

            .logo {
                background-image: url("/theme/images/Contagio-Radio-logop.png");
                background-repeat: no-repeat;
                background-position: center;
                width: 242px;
                height: 90px;
                margin: auto;
                margin-bottom: 50px;
                text-align: center;

            }

            @media only screen and (max-width: 400px) {
            #crp_container {
                width: 350px;
            }
            
            }
            
            .btn-carousel {
				display: none;
				cursor: pointer;
				top: 50%;
				position: absolute;
				opacity: 0.75;
				padding: 10px;
				background: black;
				color: white;
				font-weight: bold;
				font-size: 34px;
				margin-right: -10px;
			}
            #previous{left:0px;}
            #next{right:0px;}
            #slider-div img{display:none;width:100%;border: 5px solid black;}
            #slider-div{position:relative;width:100%;height:100%}            
