<footer class="post-info">
<div>
        <abbr class="published" title="{{ article.date.isoformat() }}">
                Publicado: {{ article.locale_date }}
        </abbr>
        {% if article.modified %}
		<br />
        <abbr class="modified" title="{{ article.modified.isoformat() }}">
                Actualizado: {{ article.locale_modified }}
        </abbr>
        {% endif %}
        {% if article.authors %}
        <address class="vcard author">
                Por {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
        </address>
        {% endif %}
<p>Categoría: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>.</p>
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
</div>
</footer><!-- /.post-info -->
